@model string
@{
    ViewData["Title"] = "Index";
}

<h1>Chatting with @Model</h1>
<ul id="list">
    <li></li>
</ul>
<input type="hidden" id="message-id" value="0" />

<script>
    //not sure why it is not working
    function getMessages() { 
        let id = document.getElementById("message-id").value;
        const request = new Request("/Chat/GetMessages/?messageId" + id + "&userToChat=" + @Html.Raw($"{Model}"), {
            method: "GET"
        });
        let response = await fetch(request);
        if (response.length) {
            for (var i = 0; i < response.length; i++) {
                var element = document.createElement("li");
                element.value = response[i];
                document.getElementById("list").append(element);
            }
        }
    }
    setInterval(() => getMessages, 500);
</script>
