@model List<User>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form>
    <input type="text" name="searchTerm" />
    <input type="submit" />
</form>
@{
    foreach (var item in Model)
    {
        <ul>
            <li>@item.Name</li>
            <button asp-controller="Chat" asp-route-userToChat="@item">Chat</button>
        </ul>
    }
}
